{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
   <!-- Google Tag Manager -->
   <script>
      (function (w, d, s, l, i) {
         w[l] = w[l] || []; w[l].push({
            'gtm.start':
               new Date().getTime(), event: 'gtm.js'
         }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
               'https://www.googletagmanager.com/gtm.js?id=GTM-T8DNJ4CB' + dl;
         f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-T8DNJ4CB');
   </script>
   <!-- End Google Tag Manager -->
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
<title>
{% block title %}
Radome Technologies
{% endblock %}
</title>

<meta name="description"
content="{% block meta_description %}
AI-powered predictive maintenance and intelligent systems for aviation, manufacturing and industrial assets. Reduce downtime and improve reliability.
{% endblock %}">

<meta name="keywords"
content="{% block meta_keywords %}
ai predictive maintenance, industrial ai solutions, aircraft health monitoring, predictive analytics platform, predictive maintenance with ai, asset monitoring ai, prohm+
{% endblock %}">

   <meta name="robots" content="index, follow">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="theme-color" content="#140a52">

   <meta property="og:title" content="{% block og_title %}Radome Technologies{% endblock %}">
   <meta property="og:description"
      content="{% block og_description %}AI driven systems for mission-critical industries{% endblock %}">
   <meta property="og:type" content="{% block og_type %}website{% endblock %}">
   <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{{ request.path }}">
   <meta property="og:image"
      content="{{ request.scheme }}://{{ request.get_host }}{% static 'images/logoradome.png' %}">

   <meta name="twitter:card" content="summary_large_image">
   <meta name="twitter:title" content="{% block twitter_title %}Radome Technologies{% endblock %}">
   <meta name="twitter:description"
      content="{% block twitter_description %}AI driven systems for mission-critical industries{% endblock %}">
   <meta name="twitter:image" content="{% static 'images/logoradome.png' %}">

<link rel="canonical" href="https://www.radometechnologies.com{{ request.path }}">
   <!-- Favicon -->
   <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logoradome.png' %}">

   <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/logoradome.png' %}">
   <link rel="apple-touch-icon" href="{% static 'images/logoradome.png' %}">

   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

   <!-- Global CSS -->
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
   <link rel="stylesheet" href="{% static 'css/flaticon_digiwize.css' %}">
   <link rel="stylesheet" href="{% static 'css/pbminfotech-base-icons.css' %}">
   <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
   <!-- <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}"> -->
    
   <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
   <link rel="stylesheet" href="{% static 'css/aos.css' %}">
   <link rel="stylesheet" href="{% static 'css/animate.css' %}">

   <!-- Theme CSS -->
   <link rel="stylesheet" href="{% static 'css/index.css' %}">
   <link rel="stylesheet" href="{% static 'css/shortcode.css' %}">
   <link rel="stylesheet" href="{% static 'css/base.css' %}">
   <link rel="stylesheet" href="{% static 'css/development-agency.css' %}">
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

   <!-- <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet"> -->
   <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

   <!-- Add these -->

   <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}">

   <link rel="stylesheet" href="{% static 'css/custom.css' %}">

   <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">



   {% block extra_css %}{% endblock %}


   <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Radome Technologies & Services Pvt Ltd",
  "url": "{{ request.scheme }}://{{ request.get_host }}/",
  "logo": "{{ request.scheme }}://{{ request.get_host }}{% static 'images/logoradome.png' %}",
  "sameAs": [
"https://www.linkedin.com/company/radometech/",
"https://x.com/radometech",
"https://www.instagram.com/radome_technologies",
"https://www.facebook.com/radometechnologies/"
  ]
}
</script>
</head>

<body>

   <!-- Google Tag Manager (noscript) -->
   <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T8DNJ4CB" height="0" width="0"
         style="display:none;visibility:hidden"></iframe>
   </noscript>
   <!-- End Google Tag Manager (noscript) -->

   <div class="page-wrapper">

      <!-- HEADER -->
      {% include "includes/header.html" %}
      {% block header_slider %}{% endblock %}

      <!-- PAGE CONTENT -->
      {% block content %}
      {% endblock %}

      <!-- FOOTER -->
      {% include "includes/footer.html" %}
   </div>

   <!-- Scroll To Top -->
   <div class="pbmit-progress-wrap">
      <svg class="pbmit-progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
         <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
      </svg>
   </div>

   <!-- JS -->
   <script src="{% static 'js/jquery.min.js' %}"></script>
   <script src="{% static 'js/popper.min.js' %}"></script>
   <script src="{% static 'js/bootstrap.min.js' %}"></script>

   <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
   <script src="{% static 'js/jquery.appear.js' %}"></script>
   <script src="{% static 'js/numinate.min.js' %}"></script>

   <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
   <script src="{% static 'js/circle-progress.js' %}"></script>
   <script src="{% static 'js/jquery.countdown.min.js' %}"></script>

   <script src="{% static 'js/aos.js' %}"></script>
   <script src="{% static 'js/cursor.js' %}"></script> 
   <script src="{% static 'js/gsap.js' %}"></script>
   <script src="{% static 'js/ScrollTrigger.js' %}"></script>
   <script src="{% static 'js/SplitText.js' %}"></script>
   <!-- <script src="{% static 'js/gsap-animation.js' %}"></script> -->

   <script src="{% static 'js/scripts.js' %}"></script>

   <!-- Revolution Slider -->
   <!-- <script src="{% static 'revolution/rslider.js' %}"></script>
   <script src="{% static 'revolution/rbtools.min.js' %}"></script>
   <script src="{% static 'revolution/rs6.min.js' %}"></script> -->

   <!-- Validator js file -->
   <script src="{% static 'js/validator.min.js' %}"></script>

   <!-- SlickNav js file -->
   <script src="{% static 'js/jquery.slicknav.js' %}"></script>

   <!-- Counter js file -->
   <script src="{% static 'js/jquery.counterup.min.js' %}"></script>

   <!-- Isotope js file -->
   <script src="{% static 'js/isotope.min.js' %}"></script>

   <!-- SmoothScroll -->
   <script src="{% static 'js/SmoothScroll.js' %}"></script>

   <!-- Parallax js -->
   <script src="{% static 'js/parallaxie.js' %}"></script>

   <!-- YTPlayer js File -->
   <script src="{% static 'js/jquery.mb.YTPlayer.min.js' %}"></script>

   <!-- Wow js file -->
   <script src="{% static 'js/wow.js' %}"></script>

   <!-- Main Custom js file -->

   <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
   <script src="{% static 'js/function.js' %}"></script>

   {% block extra_js %}

   <script>
      document.addEventListener('DOMContentLoaded', function () {
         var video = document.getElementById('mobile-radome-video');
         if (video) {
            var playPromise = video.play();
            if (playPromise !== undefined) {
               playPromise.catch(function () {
                  var playOnUserGesture = function () {
                     video.play();
                     document.removeEventListener('touchstart', playOnUserGesture);
                     document.removeEventListener('click', playOnUserGesture);
                  };
                  document.addEventListener('touchstart', playOnUserGesture);
                  document.addEventListener('click', playOnUserGesture);
               });
            }
         }
      });
   </script>

   <script>
      function scrollSlider(direction) {
         const container = document.getElementById('scrollWrapper');
         if (!container) return;   // ✅ FIX

         container.scrollBy({ left: direction * 420, behavior: 'smooth' });
      }
   </script>

   <script>
      (function () {
         const events = document.querySelectorAll('.timeline-event');
         if (!events.length) return;   // ✅ FIX

         events.forEach(event => {
            event.addEventListener('mouseenter', () => event.style.zIndex = '20');
            event.addEventListener('mouseleave', () => event.style.zIndex = '');
         });
      })();
   </script>

   <script>
      AOS.init({
         duration: 1000,
         once: true
      });
   </script>


   <script>
      window.addEventListener("scroll", function () {
         const header = document.querySelector(".site-header");
         if (!header) return;   // ✅ FIX

         if (window.scrollY > 50) {
            header.classList.add("active-sticky-header");
         } else {
            header.classList.remove("active-sticky-header");
         }
      });   
   </script>

   {% endblock %}


</body>

</html>